

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'sans-serif';
}


  
.container{
    display: grid;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    gap: 0.5rem;
    /* overflow: hidden; */
    background: #ffffff;
    padding: 0.5rem;

    grid-template-areas: 
       "left search ."
       "left row1 right"
       "left row2 right"
       "left row3 right";

    grid-template-rows: 65px 1fr 1fr 1fr;
    grid-template-columns: 100px 3fr 1fr;
}

.search{
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}
#search-btn {
    border: none;
    outline: none;
    padding: 4px;
    background-color: #e1dbda;
    padding: 12px;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: #ffffffc7;
    background: #000000;
    margin-left: 5px;
    font-variant: small-caps;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
#search-btn:hover {
    opacity: 0.7;
}

input{
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    border: none;
    /* leborder-radius: 1rem; */
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    outline: none;
    color: #ffffff;
    background: #000000;
    flex: 1;
}

input::placeholder {
    color: #ffffff;
    opacity: 0.5;
}
.left{
    grid-area: left;
    /* padding: 10px; */
    /* background-color: blue; */
}
.left-side-bar {
    background: #000000;
    height: 100%;
    border-radius: 1rem;  
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: white;
    padding-top: 2rem;
}
.left-side-bar ul {
    margin-top: 100px;
    list-style: none;
}
.left-side-bar ul li {
    margin-top: 1rem;
    position: relative;
}
.left-link a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    padding: 2px 0;
}
.left-link a::after {
    content: ''; /* Create the underline */
    position: absolute;
    left: 0;
    bottom: -2px; /* Position the underline slightly below the text */
    width: 0;
    height: 2px;
    background-color: #ff0d00; /* Underline color */
    transition: width 0.3s ease-in-out; /* Smooth animation */
}

.left-link a:hover::after,
.left-link a:focus::after {
    width: 100%; /* Show full underline on hover or focus */
}
.row1{
    grid-area: row1;
    /* background: #5c0707; */
}

.row1-weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 38px;
    /* padding: 10px 20px; */
}

.row1-weather-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}


.row2{
    grid-area: row2;
    /* background-color: aqua; */
}
.row2-weather{
    padding: 15px 20px;
    border-radius: 1rem;
    background: #000000;
    color: white;
    height: 100%;
}
.todays-forecast{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.forecast-card{
    border-right: 1px solid rgba(198, 190, 190, 0.885);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
    gap: 0.6rem;
}
.row2-weather .title{
    padding: 0.6rem 0;
}
.forecast-card #temp{
   font-weight: bold;
}
.forecast-card img{
    width: 3rem;
}

.row3{
    grid-area: row3;
    /* padding: 1rem 0; */
    /* background-color: cadetblue; */
}
.row3-weather{
    padding: 7px 20px;
    border-radius: 1rem;
    background: #000000;
    color: white;
}

.air-condition {
    display: flex;
    align-items: center;
    justify-content: space-between;padding: 0.5rem;
    margin-right: 7rem;
}

.air-con-right{
    padding: 0 3rem ;
    /* background-color: red; */
}

.city-name{
    font-size: 2.5rem;
    font-weight: bold;
}
.temp h2{
    font-size: 3rem;
}
.air-pad{
    padding: 0.8rem 0;
}
.air-con-h2{
    margin-left: 1rem;
}
.btn-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-title a{
   text-decoration: none;
   border: 1px solid white;
   padding: 0.3rem;
   border-radius: 0.8rem;
   color: #ffffff;
   background: rgb(8, 130, 224);
}
.right{
    grid-area: right;
    /* padding: 10px; */
    /* background-color: darkblue; */
}
.right-weather{
    background: #000000;
    color: #ffffff;
    border-radius: 1rem;
    padding: 10px 2rem 2px ;
}
.right-weather .title{
    padding: 10px 0;
}
.weahter-icon{
    width: 2rem;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    border-bottom: 1px solid rgba(198, 190, 190, 0.885);
}
.icon-weather-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media(max-width:1067px){
    .container{
        display: grid;
        gap: 0.5rem;
        background: #ffffff;
        padding: 0.5rem;
        overflow: auto;
        grid-template-areas: 
           "left left"
           "search search"
           "row1 row1"
           "row2 row3"
           "right right";
    
        /* grid-template-rows: 65px 1fr 1fr 1fr;
        grid-template-columns: 100px 3fr 1fr; */

        grid-template-rows: 60px 50px 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .left-side-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

    }
    .left-link ul {
        display: flex;
        margin: 0;
        gap: 20px;
        margin-bottom: 10px;
       
    }
    .left-link ul li a {
        color: #ffffff;
    }

    .search {
        padding: 0;
    }
}


@media(max-width:990px){
    .container{
        display: grid;
        gap: 0.5rem;
        background: #ffffff;
        padding: 0.5rem;
        overflow: auto;
        grid-template-areas: 
           "left"
           "search"
           "row1"
           "row2"
           "row3"
           "right";
    
        grid-template-rows: 60px 50px 1fr 1fr 1fr;
        grid-template-columns: 1fr ;
    }

    .air-condition {
        margin-right: 0;
    }
}

@media(max-width:500px){
    .container{
      width: 100vw;
    }
    .row1-weather-icon img {
        width: 120px;
    }
    #time{
        text-align: center;
    }
    .btn-title a{display: none;}
}